<div class="container">

  <div class="row">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="row">
    <h2>Hello, <%= @user.email %><h2>
  </div>

  <div class="row">
    <h3><%= link_to 'My Wardrobe', wardrobe_path(current_user) %></h3>
  </div>

  <div class="row">
    <h3><%= link_to 'Requests received', requests_path(current_user)%> </h3>
  </div>

  <div class="row">
    <h3><%= link_to 'Edit Account Details', edit_user_registration_path %></h3>
  </div>

  <div class="row">
    <h3><%= link_to 'Back', root_path %></h3>
  </div>

</div>
