<p id="notice"><%= notice %></p>

<h2>Hello, <%= @user.email %><h2>

<%= link_to 'My Wardrobe', user_wardrobe_path %>
<%= link_to 'Edit Account', edit_user_registration_path %>
<%= link_to 'Back', root_path %>
