<div class="container">
  <%= simple_form_for item, :html => {multipart: true, class: 'form-horizontal', wrapper: :horizontal_input_group},
      wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean } do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :description, class: "form-control" %>
      <%= f.input :size, class: "form-control" %>
      <%= f.input :category, class: "form-control"%>
      <%= f.input :color,  class: "form-control" %>
    </div>

    <div class="buttons col-sm-offset-3">
      <%= f.input :image, label: "Upload image" %>
    </div>

    <div class="form-actions col-sm-offset-3">
      <%= f.submit %>
    </div>


  <% end %>
</div>
