<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @item.image.url(:medium) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @item.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @item.color %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>


<% if @item.user_id == current_user.id  %>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
<%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
