<!DOCTYPE html>
<html>
  <head>
    <title>ClothesSwapping</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/business-casual.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/custom.css">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="brand">Clothes Swapping</div>

    <nav class="navbar navbar-default" role="navigation">

      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--  -->
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a  href="/">Home</a></li>
          <% if user_signed_in? %>

          <li>
          <% if current_user %>
            <%= link_to 'Add an item', new_item_path %>
          <% end %>
        </li>
          <li>
            <%= link_to 'My profile', user_profile_path(current_user) %>
          </li>
          <li>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li>
            <%=link_to "Sign in ", new_user_session_path %>
          </li>
          <li>
            <%=link_to "Sign up", new_user_registration_path %>
          </li>
          <%end%>
        </ul>
      </div>
      </div>
    </div>
    </nav>
    <%= yield %>

  </body>
</html>
